Мои сериалы: &nbsp;

{{#each collection}}
	{{#if current}}
		<span class="element-serials-list palette-alizarin js-serials-element active" data-id="{{id}}">{{ title }}</span>
	{{else}}
		<span class="element-serials-list palette-alizarin js-serials-element" data-id="{{id}}">{{ title }}</span>
	{{/if}}

	<!-- <span class="element-serials-list palette-alizarin js-serials-element" data-id="{{id}}">{{ title }}</span> -->
{{/each}}

<a href="#">
	<span class="fui-plus js-add-new-serial" title="Добавить сериал"></span>
</a>